body {
	background: #333;
}

.container {
	height: 100vh;
}

.box {
	background: white;
	width: 300px;
	height: 300px;
	position: relative;
	margin: auto;
	top: 25%;

	/* with transitions, we can control the morph */
	/* transition properties have to have an identifiable mid-point */

	/* transition-property: background, border-radius, transform; */
	transition: all;

	/* different durations for different transition animations */
	transition-duration: 1s;
	/* transition-duration: 1s, 2s, 4s; */

	/* different durations for delays, too */
	/* transition-delay: 2s; */
	transition-timing-function: linear;
}

/* transitions require a trigger, like a focus or hover event */
.box:hover {
	background: red;
	border-radius: 50%;
	transform: rotateY(180deg);
}

.box:active {
	/* triggered when we click and hold*/
	/* background: blue; */
}
