* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Helvetica Neue', sans-serif;
	background-color: #12475F;
	color: #EEE;
	line-height: 1.6;
	text-align: center;
}

.container {
	max-width: 960px;
	margin: auto;
	padding: 0 30px;
}

#showcase {
	height: 300px;
}

#showcase h1 {
	font-size: 50px;
	line-height: 1.3;
	position: relative;
	animation-name: slideDownHeader;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

#content {
	position: relative;
	animation-name: slideRightContent;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.btn {
	display: inline-block;
	color: #EEE;
	text-decoration: none;
	padding: 1rem 2rem;
	border: 1px solid #EEE;
	margin-top: 40px;
	opacity: 0;
	animation-name: makeBtnVisible;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	/* want this to happen after the other animations are complete, using delay to achieve this */
	animation-delay: 2s;

	transition-property: transform;
	transition-duration: 1s;
}

.btn:hover {
	transform: rotateY(180deg);
}


/* KEYFRAME ANIMATIONS */
@keyframes slideDownHeader {
	0% { transform: translateY(-100px); }
	100% { transform: translateY(200px); }
}


@keyframes slideRightContent {
	0% { transform: translateX(-1000px); }
	100% { transform: translateX(0px); }
}

@keyframes makeBtnVisible {
	0% { opacity: 0; }
	100% { opacity: 100; }
}
